<div class='container-fluid m-6'>
  <mat-card>
    <mat-card-title class="card-title">BVoIP Service Order Request
    </mat-card-title>
    <mat-card-content>
      <div class="row content-row-Color">

          <div class="flex-container-row">
              <ul class="row-md-1">
                <mat-form-field appearance="outline" [ngStyle]="{'font-size.px': 10}">
                  <mat-label>Order Number</mat-label>
                  <input matInput placeholder="Order Number">
                </mat-form-field>
              </ul>
          </div>
      </div>

    </mat-card-content>
    </mat-card>
  </div>
  <app-bvoip-sor-table></app-bvoip-sor-table>
 
  